<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elec_coen_390.uvme"
    android:versionCode="1"
    android:versionName="1.2">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NotificationChannelsClass"
        android:launchMode="singleTask"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.UVMe">
        <activity android:name=".monthGraph"
            android:screenOrientation="locked"/>
        <activity android:name=".weekGraph"
            android:screenOrientation="locked" />
        <activity android:name=".DayGraph"
            android:screenOrientation="locked"/>
        <activity android:name=".ThemesActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".UVSensorActivity"
            android:screenOrientation="locked" />
        <activity android:name=".UVHistoryActivity" />
        <activity android:name=".NotificationsActivity"/>
        <activity android:name=".AboutActivity" />
        <activity android:name=".UVDisplayModeActivity"/>

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />

        <activity android:name=".MainActivity"/>

        <activity android:name=".MoreActivity" />

        <activity
            android:name=".DeviceControlActivity"
            android:screenOrientation="locked" />

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />

        <service
            android:name=".DatabaseService"
            android:enabled="true"
            android:stopWithTask="false"/>

        <service
            android:name=".NotificationsService"
            android:enabled="true"
            android:stopWithTask="false"/>
    </application>

    

</manifest>